<footer class="footer">
    <section>
        <div class="flex-row-container">
            <div class="footer-col">
                <h5>About</h5>
                <p class="description">Snappy is a social network developed by Roman Martseniuk. This application will allow you to be always on
                    touch with your friends all over the world. You can write message, create new post to share moments of
                    your life and emotions and many others things.</p>
            </div>
            <div class="footer-col">
                <h5>Quick Links</h5>
                <ul class="footer-links">
                    <li>
                        <a href="/login">Sign in</a>
                    </li>
                    <li>
                        <a href="/join">Sign up</a>
                    </li>
                    <li>
                        <a href="">Messages</a>
                    </li>
                    <li>
                        <a href="">News</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h5>Languages</h5>
                <ul class="footer-links">
                    <li>
                        <a href="">English</a>
                    </li>
                    <li>
                        <a href="">Russian</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="flex-row-container">
            <div class="footer-col">
                <p class="description">Copyright &copy; 2020 All Rights by <a href="https://vk.com/romasha16">Roman Martseniuk</a></p>
            </div>
        </div>
    </section>
</footer>