.login-entry {
    margin: 80px auto 0;
    justify-content: center; 
}

.entry-point-area {
    z-index: 1;
}

@media (max-width: 840px) {
    .login-image-contatiner {
        display: none;
    }
}

.login-area, .register-area {
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
    background: #F7F7F7;
    border: 1px solid rgb(201, 201, 201);
    text-align: center;
}

a {
    color: rgb(26, 11, 77);
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: rgb(49, 13, 175);
    text-decoration: underline;
}

.app-title {
    font: 600 1.5em/1 'Verdana', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: .05em;
	font-size: 140%;
	color: #fff;
}
.card-header {
	background: #77A6F7;
	padding: 20px 0;
	text-align: center;
	margin: -16px -16px 16px -16px;
}

.login-area input:last-child, .restore-pswd-link{
	margin-bottom: 0;
}

.separator {
    height: 1px;
    background-color: rgb(201, 201, 201);
    margin: 20px 0 20px 0;
}

@media (max-width: 600px) {
    .login-entry {
        margin: 0;
    }
    .entry-point-area {
        width: 100%;
    }

    .login-area, .register-area {
        max-width: none;
    }

    .login-area {
        margin-top: 0;
    }
}