<div class="flex-col-container full-height">
    <div class="entry-point-area content">
        <div class="reset-area">
            <h1 class="card-header app-title">Snappy</h1>
            <p>Trouble Logging In?</p>
            <p>Enter your email and we will send you a link to get back into your account.</p>
            <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
                <input type="text" [(ngModel)]="email" name="email" #emailControl="ngModel" placeholder="Email" #fullname="ngModel" required/>
                <div class="inline-btn-section right">
                    <input type="submit" value="Get Login Link" [disabled]="emailControl.invalid" />
                    <input type="button" class="btn-cancel" value="Cancel" onclick="location.href = '/login'" />
                </div>
            </form>
        </div>
    </div>
    <app-footer class="footer"></app-footer>
</div>